header{
    background-color: #26a69a;
    text-align: center;
    font-size: xxx-large;
    color: white;
}

.list-todo{
    height: 160px;
    width: 100%;
    overflow-y: scroll;
    background-color: #e8e8e8;
    margin: 10px 0px;
}

.img-engranaje{
    height: 1em;
    border-radius: 100%;
    margin: 0px 5px;
    vertical-align: middle;
}

.list-check{
    height: 40%;
    width: 100%;
    overflow-y: scroll;
    background-color: #e8e8e8;
    margin: 10px 0px;   
    position: absolute;
}

.list-check p{
    height: 50px;
}

.list-check label{
    vertical-align: -webkit-baseline-middle;
}



